<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre-Dict Water Level and Surface Monitoring</title>
    <link rel="stylesheet" href="./static/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/css/aos.css">
    <link rel="stylesheet" href="./static/css/line-awesome.min.css">
    <link rel="stylesheet" href="./static/css/style.css">
</head>

<body data-bs-spy="scroll" data-bs-target=".navbar">

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container flex-lg-column">
        <a class="navbar-brand mx-lg-auto mb-lg-4" href="#">
            <span class="h3 fw-bold d-block d-lg-none">Pre-Dict</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto flex-lg-column text-lg-center">
                <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#Model">Model</a>
                </li>




                <!-- <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" id="dashboardDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Model
                        </a>
                        <div class="dropdown-menu" aria-labelledby="dashboardDropdown">
                            <a class="dropdown-item" href="#">WATER LEVEL DETECTION</a>
                            Add more user options as needed
                            <a class="dropdown-item" href="#">WATER FLOW SPEED DETECTION</a>
                        </div>
                  
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="#register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- //NAVBAR -->

    <!-- CONTENT WRAPPER -->
    <div id="content-wrapper">

        <!-- HOME -->
        <section id="home" class="full-height px-lg-5">

            <div class="container">
    <div class="row">
        <div class="col-lg-10">
            <h1 class="display-4 fw-bold" data-aos="fade-up">REAL TIME <span class="text-brand">WATER LEVEL AND SURFACE VELOCITY</span></h1>
            <p class="lead mt-2 mb-4" data-aos="fade-up" data-aos-delay="300" style="text-align: justify;">Introducing Our Real-Time Water Monitoring Platform: Stay Informed and Safe! Experience a cutting-edge solution for water level and surface velocity monitoring with our efficient computer vision system. Our platform provides real-time data, ensuring you're always in the know. Plus, it automatically alerts you to changes, ensuring your peace of mind. Explore the future of water monitoring today!</p>
            <div data-aos="fade-up" data-aos-delay="600">
                <a href="#services" class="btn btn-brand me-3">Explore our System</a> <!-- Added href attribute to link to Services section -->
                <a href="#" class="link-custom">Call: (63) 961 2578 337</a>
                <a href="#" class="link-custom">&nbsp;&nbsp;&nbsp;Email: isuccsict@gmail.com</a>
            </div>            
        </div>
    </div>
</div>

 </section>
<!-- //HOME -->

        <!-- SERVICES -->
        <section id="services" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">SERVICES</h6>
                        <h1>Functions of our System</h1>
                    </div>
                </div>

                <div class="row gy-4">

                    <div class="col-md-4" data-aos="fade-up">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-water level"></i>
                            </div>
                            <h5 class="mt-4 mb-2">Water Level Monitoring</h5>
                            <p>Water level monitoring using computer vision is the automated tracking and analysis of water levels in real-time through image or video processing techniques.</p>
                            <a href="#" class="link-custom">Read More</a>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="300">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-tachometer-alt"></i>
                            </div>
                            <h5 class="mt-4 mb-2">Surface Velocity</h5>
                            <p>Surface velocity is determined through computer visions thresholding, which measures the speed of water flow by analyzing distinct visual cues.</p>
                            <a href="#" class="link-custom">Read More</a>
                        </div>
                    </div>

                    <div class="col-md-4" data-aos="fade-up" data-aos-delay="600">
                        <div class="service p-4 bg-base rounded-4 shadow-effect">
                            <div class="iconbox rounded-4">
                                <i class="las la-exclamation-triangle"></i>
                            </div>
                            <h5 class="mt-4 mb-2">Automatic Notification</h5>
                            <p>Automatic notifications are sent when monitored parameters exceed predetermined thresholds, ensuring immediate alerts for potential hazards.</p>
                            <a href="#" class="link-custom">Read More</a>
                        </div>
                    </div>

                </div>

            </div>
        </section>
        <!-- SERVICES -->

 <!-- MODEL -->
       <!-- model -->
       <section id="Model" class="full-height px-lg-5">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-lg-8 pb-4" data-aos="fade-up">
                    <h6 class="text-brand">Model</h6>
                    <h1>Video Feed Sample Video</h1>
                    <!-- <video width="640" height="360" controls>
                        <source src="{{ url_for('static', filename='samp_videos/1.mp4') }}" type="video/mp4">
                    </video> -->
                    <a href="{{ url_for('webcam') }}" class="btn btn-outline-success w-100 mb-3"> TRY</a>
                    <a href="{{ url_for('multicam') }}" class="btn btn-outline-success w-100 mb-3"> Speed with Optical flow </a>
                    <a href="{{ url_for('weather') }}" class="btn btn-outline-success w-100 mb-3"> Current Weather</a>
                </div>
            </div>
        </div>
    </section>
<!-- MODEL -->    
 

<!-- REGISTER -->
<section id="register" class="full-height px-lg-5">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-lg-8 pb-4" data-aos="fade-up">
                <h6 class="text-brand">REGISTER</h6>
                <h1>Sign-Up to stay Notified!</h1>
            </div>

            <div class="col-lg-8" data-aos="fade-up" data-aos-delay="300">
                <form action="#" class="row g-lg-3 gy-3">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Enter your name">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" placeholder="Enter your phone number">
                    </div>
                    <div class="form-group col-12">
                        <input type="email" class="form-control" placeholder="Enter your email">
                    </div>
                    <div class="form-group col-12">
                        <input type="text" class="form-control" placeholder="Enter your address">
                    </div>
                    <div class="form-group col-12 d-grid">
                        <button type="submit" class="btn btn-brand">Register</button> <!-- Register button -->
                    </div>
                </form>
                <div class="form-group col-12 d-grid" style="margin-top: 10px;"> <!-- Added margin for space -->
                    <a href="#home" class="btn btn-brand">Contact me</a> <!-- Contact me button with link to Home section -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //REGISTER -->

     <!-- ABOUT -->
        <section id="about" class="full-height px-lg-5">
            <div class="container">

                <div class="row pb-4" data-aos="fade-up">
                    <div class="col-lg-8">
                        <h6 class="text-brand">ABOUT</h6>
                        <h1>Flood Warning Alerts</h1>
                    </div>
                </div>

                <div class="row gy-5">
                    <div class="col-lg-6">

                        
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                <h5 class="mt-4 mb-2">Flood Monitoring</h5>
                                 <p></p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                <h5 class="mt-4 mb-2">Flood Alert</h5>
                                 <p></p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                <h5 class="mt-4 mb-2">Flood Warning</h5>
                                 <p></p>
                                </div>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6">

                        
                        <div class="row gy-4">

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                <h5 class="mt-4 mb-2">Severe Flood Alert</h5>
                                 <p></p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                    <h5 class="mt-4 mb-2">Overfloow Alert</h5>
                                 <p></p>
                                </div>
                            </div>

                            <div class="col-12" data-aos="fade-up" data-aos-delay="600">
                                <div class="bg-base p-4 rounded-4 shadow-effect">
                                <h5 class="mt-4 mb-2">Bridge Passability Alert</h5>
                                 <p></p>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>

            </div>
        </section>
        <!-- //ABOUT -->

        <!-- FOOTER -->
        <footer class="py-5 px-lg-5">
            <div class="container">
                <div class="row gy-4 justify-content-between">
                    <div class="col-auto">
                        <p class="mb-0">Designed by <a href="#" class="fw-bold">bndckymt and prncsshlmgl</a></p>
                    </div>
                    <div class="col-auto">
                        <div class="social-icons">
                            <a href="#"><i class="lab la-twitter"></i></a>
                            <a href="#"><i class="lab la-instagram"></i></a>
                            <a href="#"><i class="lab la-dribbble"></i></a>
                            <a href="#"><i class="lab la-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- //FOOTER -->

    </div>
    <!-- //CONTENT WRAPPER -->



    <script src="./static/js/bootstrap.bundle.min.js"></script>
    <script src="./static/js/aos.js"></script>
    <script src="./static/js/main.js"></script>
</body>

</html>