<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Video</title>
</head>
<body>
 
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Momo Video Streaming</h3>
                <img src="{{ url_for('video_feed') }}" width="70%">
            </div>
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">simple Video Streaming</h3>
                <img src="{{ url_for('video_feed1') }}" width="70%">
            </div>
        </div>
    </div>

</body>
</html>